<<<<<<< HEAD
::-webkit-scrollbar
{
    width: 12px;  /* for vertical scrollbars */
    height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
    background: rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-thumb
{
    background: rgba(0, 0, 0, 0.1);
}

=======
>>>>>>> fa389a9136375816c11a659f798e116666a89c4b
html, body {
    height: 100%;
}

body {
    background: linear-gradient(to top, beige, lightsteelblue);
    background-attachment: fixed;
<<<<<<< HEAD
    overflow: hidden;
=======
>>>>>>> fa389a9136375816c11a659f798e116666a89c4b
}

#container {
    width: 100%;
    height: 100%;
    margin: 0;
}

.vertical-center {
    min-height: 100%;
    display: flex;
    align-items: center;
}

#content {
    width: 100%;
    height: 100%;
    padding-top: 4%;
    margin: 0;

}

/* 404 */
.message-404{
    position: relative;
    margin-top:5% ;
    }
/* END 404 */

/*
Health tab
*/
p.head {
    color: red;
}

/*
Input forms
*/

p.bad_input {
    color: red;
}

/* End of profile modification */
.field {
    width: 370px;
    clear: both;
    text-align: right;
    line-height: 25px;;
    margin-left: auto;
    margin-right: auto;
}

/* Profile view */

div.panel.panel-default {
    padding-left: 0;
    padding-right: 0;
}

.tr_name {
    font-weight: bold;
    width: 50%;
}


.avatar {
    width: 150px !important;
    max-width: 150px;
    height: 150px !important;
    max-height: 150px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#avatar_box {
    position: relative;
}


.avatar_email {
    position: relative;
    right: 50px;
}

<<<<<<< HEAD
.wallPostButtonStyle{
    margin-top: 40px;
}

=======
>>>>>>> fa389a9136375816c11a659f798e116666a89c4b
/* END OF PROFILE VIEW */

/* WALL */
.wall_header {
<<<<<<< HEAD
    font-weight: bold;
    font-size: 2em;
=======
>>>>>>> fa389a9136375816c11a659f798e116666a89c4b
    text-align: center;
}

#wall_post_buttons {
    position: relative;
    right: 80px;
}


.wall-container {
<<<<<<< HEAD
    height: 82%;
    max-height: 82%;
=======
    height: 700px;
    max-height: 700px;
>>>>>>> fa389a9136375816c11a659f798e116666a89c4b
}

#wall {
    display: block;
<<<<<<< HEAD
    height: 90%;
    max-height: 90%;
=======
    height: 50%;
    max-height: 50%;
>>>>>>> fa389a9136375816c11a659f798e116666a89c4b
!important;
    overflow-x: hidden;
}

.wall_post_text {
    position: fixed;
    bottom: 0;
    float: right;
    right: 0;
    width: 66.66%;
}

.btn.btn-default.wall-btn {
    position: absolute;
    top: 40px;
}

.wall_bubble {
    position: relative;
    width: 80%;
    min-height: 50px;
    margin: 10px 30px;
    padding: 20px;
    background: #CBCAFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: #7F7F7F solid 3px;
}

/* END WALL */

/* SEARCH */
.search {
    margin-left: 5%;
    float: left;
}

.search_results {
<<<<<<< HEAD
    height: 600px;
=======
>>>>>>> fa389a9136375816c11a659f798e116666a89c4b
    margin-right: 10%;
    float: right;
}

#search_form{
    zoom: 0.9;
}
<<<<<<< HEAD

#pagination{
position: absolute;
    top: 350px;
    text-align: center;
}
=======
>>>>>>> fa389a9136375816c11a659f798e116666a89c4b
/*
End of search
*/

<<<<<<< HEAD
=======
/*.selects {*/
    /*width: 200px !important;;*/
    /*min-width: 200px;*/
    /*max-width: 200px;*/
/*}*/


>>>>>>> fa389a9136375816c11a659f798e116666a89c4b
/*
Messages
*/

.avatar_msg {
    position: relative;
    right: 50px;
    margin-top: 10px;
    width: 100px !important;
    max-width: 100px;
    height: 100px !important;
    max-height: 100px;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

#messages-container {
<<<<<<< HEAD
    height: 750px;
    max-height: 750px;
=======
    height: 700px;
    max-height: 700px;
>>>>>>> fa389a9136375816c11a659f798e116666a89c4b
}

#messages {
    height: 64%;
    max-height: 64%;
    display: block;
    overflow-x: hidden;
}

.message_post_area {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.wall_post_text.jumbotron, .message_post_area.jumbotron {
    height: 10%;
    margin-bottom: 0;
    background-color: #ECE7E3;
}

div.post_form {
    position: absolute;
    top: 0;
}

.bubble_left {
    float: left;
    position: relative;
    width: 80%;
    min-height: 50px;
    margin: 10px 30px;
    padding: 20px;
    background: #CBCAFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: #7F7F7F solid 3px;
}

.bubble_left:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #CBCAFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: 99%;
    left: 57px;
}

.bubble_left:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 12px 12px;
    border-color: #7F7F7F transparent;
    display: block;
    width: 0;
    z-index: 0;
    bottom: 100%;
    left: 55px;
}

.bubble_right {
    float: right;
    position: relative;
    width: 80%;
    min-height: 50px;
    padding: 20px;
    margin: 10px 30px;
    background: #CBFFCB;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: #7F7F7F solid 3px;
}

.bubble_right:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 10px 0;
    border-color: #CBFFCB transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -10px;
    right: 57px;
}

.bubble_right:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 12px 12px 0;
    border-color: #7F7F7F transparent;
    display: block;
    width: 0;
    z-index: 0;
    bottom: -12px;
    right: 55px;
}

/*
END OF MESSAGES
*/

/*
PROFILE MODIFICATION
*/
.avatar_large {
    width: 250px !important;
    max-width: 250px;
    height: 250px !important;
    max-height: 250px;
    margin-bottom: 10px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#profileModificationInputsForm{
    margin-top: 10px;
}
/*
END OF PROFILE MODIFICATION
*/

/* SEARCH */
.avatar_text {
    font-size: 12px;
    text-align: center;
}

#search_form{
    margin-top: 10px;
}
/* END SEARCH */

/* NAVIGATION */


#navigation li {
    width: 100%;
    top: 0;
    display: inline;
    margin: 0;
    font-family: Comic Sans MS, Arial, Times New Roman;
    font-size: 15px;
    padding: 0 5% 0 5%;
    font-weight: bold;
}

<<<<<<< HEAD
#search_button{
    height: 34px;
}

=======
>>>>>>> fa389a9136375816c11a659f798e116666a89c4b
#navigation {
    margin: 0;
    background-color: cornflowerblue;
    top: 2.85%;
    position: fixed;
    width: 100%;
    height: 3%;
    padding: 10px;

}

#navbar {
    min-height: 5%;
}

/* END NAVIGATION */

/* FOOTER */
.footer {
    text-align: center;
<<<<<<< HEAD
=======
    /*margin-top: 20px;*/
>>>>>>> fa389a9136375816c11a659f798e116666a89c4b
    bottom: 0;
    position: fixed;
    width: 100%;
}

#footer {
    position: fixed;
    bottom: 0;
    background: #0066FF;
    height: 6%;
    width: 100%;
    margin: 0;
}

#footer h2 {
    bottom: 30px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 3%;
}

/* END FOOTER */




