<div class="col col-md-4">
    <a href="{{contextPath}}/profile/{{userId}}">
        <img class="avatar" src="{{avatarSrc}}" class="thumbnail"></a>

    <div class="caption">
        <h3>{{userName}} {{userSurname}}</h3>
    </div>
</div>