<div id="message{{messageId}}" class="row row-eq-height">
    <div class="col-sm-10">
        <div class="{{bubbleClass}}">
            <P>{{fromTo}}{{correspondentEmail}}</P>

            <P> Message: {{messageText}}</P>

            <P style="text-align: right">Sent: {{timeStamp}}</P>
        </div>
    </div>
    <div class="col-sm-2 vertical-center">
        <div class="container">
            <a href="{{contextString}}/profile/{{correspondentId}}">
                <img class="avatar_msg thumbnail" src="{{avatarLink}}">
            </a>
        </div>
    </div>
</div>