<div class="text-center col col-md-4 col-sm-4">
    <a href="{{contextString}}/profile/{{userId}}">
        <img class="avatar" src="{{avatarSrc}}" class="thumbnail">
    </a>

    <div class="avatar_text">
        {{screenName}}
    </div>
</div>