<div id="wallPost{{wallPostId}}" class="row row-eq-height">
    <div class="col-sm-9">
        <div class="wall_bubble">
            <P> Message:{{messageText}}</P>

            <P style="text-align: right">Sent:{{timestamp}}</P>
        </div>
    </div>
    <div id="wall_post_buttons" class="col-sm-1 vertical-center">
        <div>
            <a id="like{{wallPostId}}" class="btn btn-primary btn-block"
               onclick="likeUnlikeWallPost({{wallPostId}},'{{contextString}}');">
            <span id="likeHeart{{wallPostId}}" class="glyphicon {{likeStatus}}">
        </span>
            </a>
            <A id="removeWallPost{{wallPostId}}" href="#"
               onclick="deleteWallPost({{wallPostId}},'{{contextString}}');"
               class='btn btn-primary btn-block'>
                <span class='glyphicon glyphicon-trash'></span></A>
        </div>
    </div>
    <div id="avatar_box" class="col-sm-2 vertical-center text-center">
        <div class="container">
            <P><a href="{{contextString}}/profile/{{fromId}}">
                <img class="avatar_msg" src="{{avatarSrc}}" class="thumbnail">
            </a>
            </P>
            <span class="avatar_email">{{fromEmail}}</span>
        </div>
    </div>
</div>